style.btn {
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: flex;

}

body {
    background-color: gray;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    text-align: center;

}


.btn-red {
    background-color: #ff0000;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 50%;
    
}

.btn-green {
    background-color: #008000;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 20px;
    
}

.btn-green:hover {

    background-color:  #03a003;
    transform: scale(1.2);

}


.btn-red:hover {

    background-color: #ad2222;
    transform: scale(1.2);

}

h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 49px;
    color: yellow;
}

thead > tr > th {

    font-size: 30px;
    
}