.linha {
  display:inline-flex;
  width: 100%;

}
.coluna{
  flex-grow: 1;
  margin: 5px;
}

/* Reset e corpo da página centralizado */
body {
  background-color: gray;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* area vista */
.container {
  background-color: white;
  width: 600px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
/* Alteração no titulo */
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 119, 255);
}

/* Estilo dos campos de entrada */
#id, #moeda, #nome {
  display: flex;
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  border-bottom: 2px solid black;
  outline: none;
}

.coluna-id {
  display: none;
}

/* deixando em linha a parte escrita */
input{
  border: none;
  background-color: transparent;
}


/* Estilo base para os botões */
button{
  margin: 15px;
  padding: 15px;
  border: none;
  border-radius: 5px;
}
  

/* Agrupamento de botões */
.botoes-acao, .botoes-inferiores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
/* alteração da cor dos botões */
button#salvar{
  background-color: green;
  color: white; 

}

button#cancelar {
  background-color: red;
  color: white; 
}

