.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#id {
  display: none;
}

.linha {
  display: flex;
  color: black;
  margin: 5px;
  padding: 5px;
}

.coluna {
  flex-grow: 0;
  margin: 5px;
  display: inline-flex;
  flex-direction: column;
}

.campos>input {
  
}

h1 {
  color: blue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
}

.button {
  padding: 10px;
  margin: 25px;
  text-align: center;
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 20px;
}

button#salvar {
  background-color: green;
  border: 8px solid green;
  width: 100px;
}

button#cancelar {
  background-color: red;
  border: 8px solid red;
  width: 100px;
}

input {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 300px;
}