.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
}

.linha_input_id {
  display: none;
}

.linha {
  display: flex;
  color: rgb(0, 0, 0);
  margin: 5px;
  padding: 5px;
}

.coluna {
  flex-grow: 0;
  margin: 10px;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;

}

.campos>input {}

h1 {
  color: blue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
}

.button { 
  padding: 10px;
  margin: 25px;
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 30px;
}

button#salvar {
  background-color: green;
  border: 8px solid green;
  width: 100px;
  border-radius: 15px;
  color: white;
}

button#salvar:hover {
  background-color: #4CAF50; /* Green */
  border: 8px solid #4CAF50;
  color: white;
}

button#cancelar {
  background-color: red;
  border: 8px solid red;
  width: 100px;
  border-radius: 15px;
  color: white;
}

button#cancelar:hover {
  background-color: red;
  border: 8px solid #f44336;
  color: white;
}


input {
  border: none;
  border-bottom: 2px solid rgba(51, 88, 209, 0.685);
  outline: none;
  width: 450px;
}