body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    color: #333;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
    width: 80%;
    max-width: 700px;
    background-color: #eee;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    color: #555;
    margin-bottom: 10px;
    box-shadow: 4px 4px 2px 1px gray
}

.item {
    flex: 1;
    padding: 0 10px;
}

.item.acoes {
    flex: 0.5;
    text-align: left;
}

.item.valor1 {
    flex: 1.5;
    text-align: left;
}

.buttons {
    margin-top: 30px;
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.acoes.editar {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-Radius: 4px;

}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#voltar {
    background-color: red;
    color: white;
}

#cadastrar {
    background-color: rgb(23, 221, 23);
    color: white;
}

#voltar:hover {
    background-color: #d82f23;

}

#cadastrar:hover {
    background-color: #4CAF50;

}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}

.buttons button:hover {
    transform: scale(1.1);
}