/*
TODAS AS PÁGINAS

ESSE CSS É PARA TODAS AS PÁGINAS E SÃO GENÉRICOS
*/

/*FONTES*/
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1px;
}

/*LAYOUT E POSICIONAMENTOS*/
.linha {
    width: 100%;
    display: inline-flex;
}

.coluna {
    flex-grow: 1;
    margin: 10px;
}

.espaco-cima {
    margin: 32px 0px 0px 0px;
}

/*BOTÕES*/
button {
    border: 0px;
    background: #586EDB;
    padding: 10px;
    color: white;
    border-radius: 15px;
}

button > * {
    vertical-align: middle;
}

/*EXIBICÃO*/
.esconder {
    display: none;
}

table.exibir {
    display: table;
}

.exibir {
    display: block;
}