/*LISTAGENS*/
/*CAMPO FILTRO*/
.coluna-fields>label[for] {
    font-size: 18px;
}

.coluna-fields>input {
    font-size: 14px;
    padding: 0px 5px 5px 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #586EDB;
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(100% - 8px);
}

.coluna-fields>input:focus {
    border-bottom: 2px solid #599DDC;
    outline: none;
}

/*TABELA*/
.coluna>table {
    width: 100%;
}

.coluna>table>thead>tr>th {
    padding: 0;
    font-size: 18px;
    border-bottom: 1px solid #586EDB;
    text-align: left;
    padding-bottom: 10px;
}

.coluna>table>thead>tr>th:last-child {
    text-align: center;
}

.coluna>table>tbody>tr>td {
    padding: 5px 5px 5px 5px;
    text-align: left;
}

.coluna>table>tbody>tr>td:last-child {
    text-align: center;
}

.coluna>table>tbody>tr:hover {
    background: #599ddc18;
}

.coluna>table>tbody>tr>td>span {
    font-size: 16px;
    padding: 0;
    text-align: left;
}

.coluna>table>tbody>tr>td>button {
    width: 24px;
    height: 24px;
    padding: 0px;
    background: none;
    margin-right: 10px;
}

.coluna>table>tbody>tr>td>button>img:hover {
    cursor: pointer;
}

.coluna>h2 {
    text-align: center;
}

.coluna>img {
    margin-left: auto;
    margin-right: auto;
    animation: rotacao 5s linear infinite;
}

@keyframes rotacao {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*TITULO*/
@media screen and (max-width: 950px) {
    .linha>h1 {
        text-align: center;
    }
}


/*BOTÕES*/
.coluna-botoes-listagem>.coluna:last-child {
    text-align: right;
}

.coluna-botoes-listagem>.coluna:last-child>button {
    background: #599DDC;
}

@media screen and (max-width: 650px) {
    .coluna-botoes-listagem {
        flex-wrap: wrap
    }

    .coluna-botoes-listagem>.coluna {
        width: 100%;
    }

    .coluna-botoes-listagem>.coluna>button {
        width: 100%;
    }

    .coluna-botoes-listagem>.coluna:last-child {
        margin-top: 0px;
    }
}