html,body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#tabela {
    display: grid;
    grid-template-rows: repeat(3,50%);
    padding: 20px 20px 20px 20px;
    width: max-content;
    height: max-content;
}
.linha {
    display: flex;
    flex-direction: column;

}
