#principal-listagem {
    flex: 1 1 50%;
    max-width: 1300px;
    background-color: #e0effb;
    border-radius: 15px;
}
.linha>.coluna-tabela {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tabela-fornecedores th,td {
    padding: 10px;
}
#tabela-fornecedores th {
    text-align: center;
    font-size: 1.8em;
}
#tabela-fornecedores tr>td {
    text-align: center;
    font-size: 1.2em;
}
#tabela-fornecedores tr {
    position: relative;
}
#tabela-fornecedores button {
    position: absolute;
    bottom: 5px;
    border: 4px solid #cee3ee;
    border-radius: 15px;
    background-color: #94bbd0;
}
#tabela-fornecedores button:hover {
    border-color:  #8dbdd7;
    background-color: #6b99b1;
}
#tabela-fornecedores button:first-child {
    right:50px; 
}
@keyframes girar {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.elemento_animado {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-color: #eeeeeeee;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.animar {
    width: 5%;
    animation: girar 2s linear infinite;
}