#cadastro-pessoa {
    padding: 32px 256px 0px 256px;
}

#formulario>div:nth-child(2)>.coluna:nth-child(1) {
    flex-grow: 2;
}

#formulario>div:nth-child(3)>.coluna:nth-child(1),
#formulario>div:nth-child(3)>.coluna:nth-child(2) {
    width: 35%;
}

#formulario>div:nth-child(3)>.coluna:nth-child(3) {
    width: 25%;
}

#formulario>div:nth-child(4)>.coluna:nth-child(2),
#formulario>div:nth-child(4)>.coluna:nth-child(3) {
    flex-grow: 0;
}

#formulario>div:nth-child(7)>.coluna:nth-child(1) {
    width: 50%;
    flex-grow: 0;
}

#formulario>div:nth-child(8)>.coluna:nth-child(1),
#formulario>div:nth-child(8)>.coluna:nth-child(3) {
    width: 15%;
    flex-grow: 0;
}

#formulario>div:nth-child(9)>.coluna:nth-child(3) {
    width: 20%;
    flex-grow: 0;
}

/*TABELA*/
.coluna>table {
    width: 100%;
}

.coluna>table>thead>tr>th {
    padding: 0;
    font-size: 18px;
    border-bottom: 1px solid #586EDB;
    text-align: left;
    padding-bottom: 10px;
}

.coluna>table>thead>tr>th:last-child {
    text-align: center;
}

.coluna>table>tbody>tr>td {
    padding: 5px 5px 5px 5px;
    text-align: left;
}

.coluna>table>tbody>tr>td:last-child {
    text-align: center;
}

.coluna>table>tbody>tr:hover {
    background: #599ddc18;
}

.coluna>table>tbody>tr>td>span {
    font-size: 16px;
    padding: 0;
    text-align: left;
}

.coluna>table>tbody>tr>td>button {
    width: 24px;
    height: 24px;
    padding: 0px;
    background: none;
    margin-right: 10px;
}

.coluna>table>tbody>tr>td>button>img:hover {
    cursor: pointer;
}