@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset & Font */
*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Container Central*/
.container{
    max-width: 1400px;
    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.tabela-container {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
}

/* Título Central */
h1{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

/* Linha e Coluna */
.linha{
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
}

.coluna {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
  align-items: flex-start;
}


/* Inputs Texto */
.coluna > input[type="text"] {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s;
    flex: 1;
    min-width: 0;
}

.coluna > input[type="text"]:focus {
    border-color: #586edb;
    border: 1px solid #007bff;
}

.coluna input {
  width: 100%;
  box-sizing: border-box;
}

/* Input Color */
.coluna > input[type="color"] {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    background-color: transparent;
}

/* Coluna oculta */
.coluna-id {
    display: none;
}

.descricao-input {
  height: 100px;
}

/* TABELAS */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

/* CAIXA DE COR */
td div.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #000;
}

/* BOTÕES */
.botoes-rodape {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 2.5rem;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

button:hover {
  background-color: #586EDB;
  color: white;
}

/* ERROS E FEEDBACK */
input.invalido {
  border: 1px solid red;
}

small.erro {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
  display: block;
}

/* UTILIDADES */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.botao {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao img {
  width: 20px;
  height: 20px;
}

.botao:hover {
  background-color: #d4d4d4;
}

.loading {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  animation: girar 1s linear infinite;
  z-index: 1000;
}

.oculto {
  display: none;
}

div.oculto {
  display: none;
  margin-top: 4px;
}

.seletor {
  padding: 6px 12px;
  background-color: #6c63ff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.seletor:hover {
  background-color: #4b45c7;
}

@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Lista suspensa */

.lista-suspensa-container {
  position: relative;
  width: 100%;
}

.lista-suspensa-input {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.lista-suspensa-opcoes {
  position: absolute;
  top: 100%;
  left: auto;
  right: auto;
  width: max-content;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #586edb;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.lista-suspensa-opcoes li {
  padding: 8px 12px;
  cursor: pointer;
}

.lista-suspensa-opcoes li:hover {
  background-color: #f0f0f0;
}

.lista-oculta {
  display: none;
}

.bloco-endereco {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.bloco-endereco h3 {
  margin-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}