#listar-fornecedores {
    padding: 32px 156px 0px 156px;
}

.search {
    width: 50%;
}

#container-tabela {
    max-height: 500px;
    overflow-y: auto;
}

@media screen and (max-width: 1150px) {
    #listar-fornecedores {
        padding: 32px 32px 0px 32px;
    }

    .search {
        width: 100%;
    }
}